<img src="https://upload.wikimedia.org/wikipedia/commons/4/42/UNIR_Horizontal_Logo.png" alt="Logo de UNIR" width="240" align="right">

# **Procesamiento de datos CSV**

_Santiago Ríos Benjumea_

## Primer Dataset Museos

In [1]:
import pandas as pd

In [3]:
# Cargar el primer dataset
df_museos = pd.read_csv("201132-0-museos.csv", sep=";",encoding="cp1252")
df_bibliotecas = pd.read_csv("201747-0-bibliobuses-bibliotecas.csv", sep=";",encoding="cp1252")
df_alojamientos = pd.read_csv("alojamientos_turisticos.csv", sep=";",encoding="cp1252")
df_data = pd.read_csv("data_act_01.csv", sep=";",encoding="cp1252")

In [4]:
df_museos.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO
0,6017808,Casa Museo Fuente del Rey,"Fundación AMYC - Fran Daurel Este museo, sit...",De lunes a viernes de 10:00 a 19:00 horas. Vis...,NaN,Consulta los siguientes enlaces:,NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,FUENTE DEL REY,...,9,MONCLOA-ARAVACA,434663,4478596,40.455469,-3.770572,913 579 116,NaN,info@fundaciofrandaurel.com,/contenido/entidadesYorganismos/FundacionesCul...
1,4847190,Casa Museo Lope de Vega,"'Mi casilla, mi quietud, mi g&amp;uuml;ertecil...","De martes a domingo, de 10 a 18 horas. Cerrad...",NaN,"Metro: Antón Martín (línea 1), Sevilla (línea ...",NaN,"0,4",http://www.madrid.es/sites/v/index.jsp?vgnextc...,CERVANTES,...,1,CENTRO,440825,4473983,40.414369,-3.697467,914 299 216,NaN,casamuseolopedevega@madrid.org,/contenido/entidadesYorganismos/Museos
2,4949641,Casita Museo de Ratón Pérez,La Casita-Museo constituye un espacio singular...,Visitas: horarios y reservas.,NaN,"Metro: Sol (líneas: 1, 2 y 3), Ópera (líneas 2...",Se aconseja acudan con la entrada adquirida an...,0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ARENAL,...,1,CENTRO,440144,4474287,40.417060,-3.705520,915 226 968,NaN,info@casamuseoratonperez.es,/contenido/entidadesYorganismos/Museos
3,5682031,Castillo de la Alameda,El Castillo de la Alameda o de Barajas es uno ...,Abierto solo en fin de semana (sábado y doming...,Zona wifi.,Metro: Alameda de Osuna y El Capricho (línea 5).,Accesibilidad Rampas de acceso (las rampas d...,"1,6",http://www.madrid.es/sites/v/index.jsp?vgnextc...,ANTONIO SANCHA,...,21,BARAJAS,449698,4478802,40.458365,-3.593276,913 667 415,NaN,castilloalameda@madrid.es,/contenido/entidadesYorganismos/MonumentosEdif...
4,2064,Casón del Buen Retiro,El Centro de Estudios del Prado está ubicado e...,NaN,NaN,"Metro: Estación del Arte (línea 1), Banco de E...",Descripción monumental El Casón o Salón de Ba...,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALFONSO XII,...,3,RETIRO,441525,4474078,40.415275,-3.689222,913 302 821,NaN,centro.estudios@museodelprado.es,/contenido/entidadesYorganismos/MonumentosEdif...

In [5]:
df_museos.shape

(69, 32)

In [6]:
# Valores nulos por columna
df_museos.isnull().sum().sort_values(ascending=False)

ESCALERAS              69
PUERTA                 69
PLANTA                 68
ORIENTACION            66
FAX                    61
EQUIPAMIENTO           53
DESCRIPCION            52
DESCRIPCION-ENTIDAD    20
EMAIL                  16
TELEFONO               11
HORARIO                 4
COD-DISTRITO            0
DISTRITO                0
LONGITUD                0
COORDENADA-X            0
COORDENADA-Y            0
LATITUD                 0
COD-BARRIO              0
BARRIO                  0
PK                      0
CODIGO-POSTAL           0
PROVINCIA               0
LOCALIDAD               0
NOMBRE                  0
NUM                     0
TIPO-NUM                0
CLASE-VIAL              0
NOMBRE-VIA              0
CONTENT-URL             0
ACCESIBILIDAD           0
TRANSPORTE              0
TIPO                    0
dtype: int64

In [7]:
# Porcentaje de valores faltantes
(df_museos.isnull().mean() * 100).sort_values(ascending=False)

ESCALERAS              100.000000
PUERTA                 100.000000
PLANTA                  98.550725
ORIENTACION             95.652174
FAX                     88.405797
EQUIPAMIENTO            76.811594
DESCRIPCION             75.362319
DESCRIPCION-ENTIDAD     28.985507
EMAIL                   23.188406
TELEFONO                15.942029
HORARIO                  5.797101
COD-DISTRITO             0.000000
DISTRITO                 0.000000
LONGITUD                 0.000000
COORDENADA-X             0.000000
COORDENADA-Y             0.000000
LATITUD                  0.000000
COD-BARRIO               0.000000
BARRIO                   0.000000
PK                       0.000000
CODIGO-POSTAL            0.000000
PROVINCIA                0.000000
LOCALIDAD                0.000000
NOMBRE                   0.000000
NUM                      0.000000
TIPO-NUM                 0.000000
CLASE-VIAL               0.000000
NOMBRE-VIA               0.000000
CONTENT-URL              0.000000
ACCESIBILIDAD            0.000000
TRANSPORTE               0.000000
TIPO                     0.000000
dtype: float64

In [8]:
# Limpieza de columnas con mayor parte de datos nulos
df_museos.drop(columns=["ESCALERAS", "PUERTA", "PLANTA", "ORIENTACION", "FAX", "EQUIPAMIENTO", "DESCRIPCION"], inplace=True)

In [9]:
# Llenar datos faltantes en las otras columnas
cols_a_llenar = ["DESCRIPCION-ENTIDAD", "HORARIO", "EMAIL", "TELEFONO"]
for col in cols_a_llenar:
    df_museos[col] = df_museos[col].fillna("Desconocido")

In [10]:
# Revisión de tipo de datos
df_museos.dtypes

PK                       int64
NOMBRE                  object
DESCRIPCION-ENTIDAD     object
HORARIO                 object
TRANSPORTE              object
ACCESIBILIDAD           object
CONTENT-URL             object
NOMBRE-VIA              object
CLASE-VIAL              object
TIPO-NUM                object
NUM                    float64
LOCALIDAD               object
PROVINCIA               object
CODIGO-POSTAL            int64
COD-BARRIO               int64
BARRIO                  object
COD-DISTRITO             int64
DISTRITO                object
COORDENADA-X             int64
COORDENADA-Y             int64
LATITUD                float64
LONGITUD               float64
TELEFONO                object
EMAIL                   object
TIPO                    object
dtype: object

In [11]:
df_museos["ACCESIBILIDAD"] = df_museos["ACCESIBILIDAD"].str.replace(",", ".", regex=False)

In [13]:
df_museos["ACCESIBILIDAD"] = pd.to_numeric(df_museos["ACCESIBILIDAD"], errors="coerce")

In [14]:
df_museos["ACCESIBILIDAD"].dtypes

dtype('float64')

In [15]:
# Búsqueda de duplicados

df_museos.duplicated().sum()

0

In [16]:
df_museos["DISTRITO"].unique()

array(['MONCLOA-ARAVACA', 'CENTRO', 'BARAJAS', 'RETIRO', 'CHAMBERI',
       'CIUDAD LINEAL', 'SALAMANCA', 'CHAMARTIN', 'TETUAN', 'LATINA',
       'PUENTE DE VALLECAS', 'FUENCARRAL-EL PARDO', 'ARGANZUELA',
       'CARABANCHEL'], dtype=object)

In [17]:
df_museos["DISTRITO_NORM"] = df_museos["DISTRITO"].str.lower().str.strip()
df_museos["DISTRITO_NORM"].unique()

array(['moncloa-aravaca', 'centro', 'barajas', 'retiro', 'chamberi',
       'ciudad lineal', 'salamanca', 'chamartin', 'tetuan', 'latina',
       'puente de vallecas', 'fuencarral-el pardo', 'arganzuela',
       'carabanchel'], dtype=object)

In [18]:
df_museos.groupby("DISTRITO_NORM").size().sort_values(ascending=False)

DISTRITO_NORM
centro                 28
moncloa-aravaca         8
chamberi                7
retiro                  7
salamanca               6
fuencarral-el pardo     3
arganzuela              2
chamartin               2
barajas                 1
carabanchel             1
ciudad lineal           1
latina                  1
puente de vallecas      1
tetuan                  1
dtype: int64

In [19]:
df_museos["BARRIO"].unique()

array(['ARAVACA', 'CORTES', 'SOL', 'ALAMEDA DE OSUNA', 'LOS JERONIMOS',
       'EMBAJADORES', 'CASA DE CAMPO', 'UNIVERSIDAD', 'ALMAGRO',
       'PALACIO', 'SAN JUAN BAUTISTA', 'RECOLETOS', 'GOYA', 'ARGUELLES',
       'CASTILLA', 'RIOS ROSAS', 'CASTELLANA', 'EL VISO', 'GUINDALERA',
       'CUATRO CAMINOS', 'CUATRO VIENTOS', 'CIUDAD UNIVERSITARIA',
       'NUMANCIA', 'JUSTICIA', 'TRAFALGAR', 'EL GOLOSO', 'LA PAZ',
       'VALLEHERMOSO', 'DELICIAS', 'EL PARDO', 'PACIFICO', 'LEGAZPI',
       'VISTA ALEGRE'], dtype=object)

In [20]:
df_museos["BARRIO_NORM"] = df_museos["BARRIO"].str.lower().str.strip()
df_museos["BARRIO_NORM"].unique()

array(['aravaca', 'cortes', 'sol', 'alameda de osuna', 'los jeronimos',
       'embajadores', 'casa de campo', 'universidad', 'almagro',
       'palacio', 'san juan bautista', 'recoletos', 'goya', 'arguelles',
       'castilla', 'rios rosas', 'castellana', 'el viso', 'guindalera',
       'cuatro caminos', 'cuatro vientos', 'ciudad universitaria',
       'numancia', 'justicia', 'trafalgar', 'el goloso', 'la paz',
       'vallehermoso', 'delicias', 'el pardo', 'pacifico', 'legazpi',
       'vista alegre'], dtype=object)

In [21]:
df_museos.groupby("BARRIO_NORM").size().sort_values(ascending=False)

BARRIO_NORM
palacio                 7
los jeronimos           5
sol                     5
embajadores             5
justicia                4
ciudad universitaria    4
cortes                  4
universidad             3
castellana              3
rios rosas              3
pacifico                2
casa de campo           2
almagro                 2
numancia                1
alameda de osuna        1
recoletos               1
legazpi                 1
trafalgar               1
vallehermoso            1
san juan bautista       1
goya                    1
la paz                  1
guindalera              1
el viso                 1
el pardo                1
el goloso               1
delicias                1
cuatro vientos          1
cuatro caminos          1
castilla                1
arguelles               1
aravaca                 1
vista alegre            1
dtype: int64

In [22]:
df_museos["CLASE-VIAL"].unique()

array(['CALLE', 'GLORIETA', 'PLAZA', 'PASEO', 'AUTOVIA', 'AVENIDA'],
      dtype=object)

In [23]:
# Ver estadísticas de variables con números
df_museos[["ACCESIBILIDAD", "NUM", "LATITUD", "LONGITUD"]].describe()

       ACCESIBILIDAD         NUM    LATITUD   LONGITUD
count      65.000000   69.000000  69.000000  69.000000
mean        1.860000   24.271014  40.427700  -3.701285
std         0.935882   40.048100   0.025914   0.027250
min         0.000000    0.000000  40.373620  -3.808430
25%         1.000000    3.000000  40.415275  -3.710816
50%         1.600000    9.000000  40.422600  -3.700020
75%         3.000000   28.000000  40.436756  -3.690212
max         3.000000  237.000000  40.545379  -3.593276

In [24]:
df_museos[df_museos["NUM"] == 0][["NOMBRE", "CLASE-VIAL", "NOMBRE-VIA", "NUM"]]

                              NOMBRE CLASE-VIAL     NOMBRE-VIA  NUM
9   Galería de la Colecciones Reales      CALLE         BAILEN  0.0
48      Museo de la Farmacia Hispana      PLAZA  RAMON Y CAJAL  0.0
52                   Museo del Prado      PASEO          PRADO  0.0
58            Palacio Real de Madrid      PLAZA        ORIENTE  0.0

In [25]:
# Normalizar los textos

cols_texto = ["NOMBRE", "DISTRITO", "BARRIO", "CLASE-VIAL", "TIPO", "LOCALIDAD"]

for col in cols_texto:
    df_museos[col] = df_museos[col].str.strip().str.lower()

In [26]:
df_museos["LOCALIDAD"].unique()

array(['madrid'], dtype=object)

In [27]:
df_museos.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,TRANSPORTE,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,CLASE-VIAL,TIPO-NUM,...,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,EMAIL,TIPO,DISTRITO_NORM,BARRIO_NORM
0,6017808,casa museo fuente del rey,"Fundación AMYC - Fran Daurel Este museo, sit...",De lunes a viernes de 10:00 a 19:00 horas. Vis...,Consulta los siguientes enlaces:,3.0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,FUENTE DEL REY,calle,V,...,moncloa-aravaca,434663,4478596,40.455469,-3.770572,913 579 116,info@fundaciofrandaurel.com,/contenido/entidadesyorganismos/fundacionescul...,moncloa-aravaca,aravaca
1,4847190,casa museo lope de vega,"'Mi casilla, mi quietud, mi g&amp;uuml;ertecil...","De martes a domingo, de 10 a 18 horas. Cerrad...","Metro: Antón Martín (línea 1), Sevilla (línea ...",0.4,http://www.madrid.es/sites/v/index.jsp?vgnextc...,CERVANTES,calle,V,...,centro,440825,4473983,40.414369,-3.697467,914 299 216,casamuseolopedevega@madrid.org,/contenido/entidadesyorganismos/museos,centro,cortes
2,4949641,casita museo de ratón pérez,La Casita-Museo constituye un espacio singular...,Visitas: horarios y reservas.,"Metro: Sol (líneas: 1, 2 y 3), Ópera (líneas 2...",0.0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ARENAL,calle,V,...,centro,440144,4474287,40.417060,-3.705520,915 226 968,info@casamuseoratonperez.es,/contenido/entidadesyorganismos/museos,centro,sol
3,5682031,castillo de la alameda,El Castillo de la Alameda o de Barajas es uno ...,Abierto solo en fin de semana (sábado y doming...,Metro: Alameda de Osuna y El Capricho (línea 5).,1.6,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ANTONIO SANCHA,calle,V,...,barajas,449698,4478802,40.458365,-3.593276,913 667 415,castilloalameda@madrid.es,/contenido/entidadesyorganismos/monumentosedif...,barajas,alameda de osuna
4,2064,casón del buen retiro,El Centro de Estudios del Prado está ubicado e...,Desconocido,"Metro: Estación del Arte (línea 1), Banco de E...",1.0,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ALFONSO XII,calle,V,...,retiro,441525,4474078,40.415275,-3.689222,913 302 821,centro.estudios@museodelprado.es,/contenido/entidadesyorganismos/monumentosedif...,retiro,los jeronimos

In [28]:
df_museos.to_csv("museos_limpio.csv", index=False, encoding="utf-8")

## Segundo Dataset Bibliotecas

In [30]:
df_bibliotecas.shape

(50, 32)

In [31]:
df_bibliotecas.head()

,PK,NOMBRE,DESCRIPCION-ENTIDAD,HORARIO,EQUIPAMIENTO,TRANSPORTE,DESCRIPCION,ACCESIBILIDAD,CONTENT-URL,NOMBRE-VIA,...,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TELEFONO,FAX,EMAIL,TIPO
0,25526,Biblioteca Pública Antonio Mingote (Latina),NaN,Apertura de lunes a sábado. De lunes a vierne...,Wifi gratuito.,Cercanías Renfe: Maestra Justa Freire - Polide...,"Lectura fácil, letra grande, audiodescripción....",1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,RAFAEL FINAT,...,10.0,LATINA,434685,4470157,40.379442,-3.769439,915 093 625,917 068 193,bib.latina@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...
1,1774,Biblioteca Pública Elena Fortún (Retiro),NaN,Apertura de lunes a sábado. De lunes a vierne...,Wifi gratuito.,"Metro: Pacífico (líneas 1 y 6), Conde de Casal...","Lectura fácil, letra grande, audiodescripción.",1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,DOCTOR ESQUERDO,...,3.0,RETIRO,442942,4472768,40.403578,-3.672409,915 019 146,915 018 130,bib.retiro@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...
2,1770,Biblioteca Pública Hortaleza,NaN,Apertura de lunes a viernes. De lunes a jueve...,NaN,Metro: Parque de Santa María (línea 4),NaN,1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,ABERTURA,...,16.0,HORTALEZA,444936,4480925,40.477193,-3.649620,917 633 284,917 633 284,bib.hortaleza@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...
3,1773,Biblioteca Pública Javier Marías (Moratalaz),NaN,Apertura de lunes a viernes. De lunes a viern...,Wifi gratuito.,Metro: Artilleros (línea 9),"Lectura fácil, letra grande, audiodescripción.",1,http://www.madrid.es/sites/v/index.jsp?vgnextc...,CORREGIDOR ALONSO DE TOBAR,...,14.0,MORATALAZ,444892,4472800,40.403992,-3.649438,914 394 688,914 370 234,bib.moratalaz@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...
4,1771,Biblioteca Pública José Acuña (Moncloa - Aravaca),NaN,Apertura de lunes a sábado. De lunes a vierne...,Wifi gratuito.,"Metro: Arg&amp;uuml;elles (líneas 3, 4 y 6), V...",NaN,3,http://www.madrid.es/sites/v/index.jsp?vgnextc...,QUINTANA,...,9.0,MONCLOA-ARAVACA,439184,4475503,40.427947,-3.716951,915 413 619,NaN,bib.acuna@madrid.org,/contenido/entidadesYorganismos/BibliotecasPub...

In [32]:
# Valores nulos por columna
df_bibliotecas.isnull().sum().sort_values(ascending=False)

PLANTA                 50
ESCALERAS              50
PUERTA                 50
ORIENTACION            42
FAX                    37
DESCRIPCION-ENTIDAD    17
DESCRIPCION             4
COD-DISTRITO            2
COD-BARRIO              2
EQUIPAMIENTO            1
CODIGO-POSTAL           0
COORDENADA-Y            0
COORDENADA-X            0
DISTRITO                0
LONGITUD                0
TELEFONO                0
EMAIL                   0
BARRIO                  0
LATITUD                 0
PK                      0
PROVINCIA               0
LOCALIDAD               0
NOMBRE                  0
NUM                     0
TIPO-NUM                0
CLASE-VIAL              0
NOMBRE-VIA              0
CONTENT-URL             0
ACCESIBILIDAD           0
TRANSPORTE              0
HORARIO                 0
TIPO                    0
dtype: int64

In [34]:
# Porcentaje de valores faltantes
(df_bibliotecas.isnull().mean() * 100).sort_values(ascending=False)

PLANTA                 100.0
ESCALERAS              100.0
PUERTA                 100.0
ORIENTACION             84.0
FAX                     74.0
DESCRIPCION-ENTIDAD     34.0
DESCRIPCION              8.0
COD-DISTRITO             4.0
COD-BARRIO               4.0
EQUIPAMIENTO             2.0
CODIGO-POSTAL            0.0
COORDENADA-Y             0.0
COORDENADA-X             0.0
DISTRITO                 0.0
LONGITUD                 0.0
TELEFONO                 0.0
EMAIL                    0.0
BARRIO                   0.0
LATITUD                  0.0
PK                       0.0
PROVINCIA                0.0
LOCALIDAD                0.0
NOMBRE                   0.0
NUM                      0.0
TIPO-NUM                 0.0
CLASE-VIAL               0.0
NOMBRE-VIA               0.0
CONTENT-URL              0.0
ACCESIBILIDAD            0.0
TRANSPORTE               0.0
HORARIO                  0.0
TIPO                     0.0
dtype: float64

In [35]:
# Limpieza de columnas con mayor parte de datos nulos
df_bibliotecas.drop(columns=["PLANTA", "ESCALERAS", "PUERTA", "ORIENTACION"], inplace=True)

In [36]:
# Llenar datos faltantes en las otras columnas
cols_a_llenar = ["FAX", "DESCRIPCION-ENTIDAD", "DESCRIPCION", "COD-DISTRITO", "COD-BARRIO", "EQUIPAMIENTO"]
for col in cols_a_llenar:
    df_bibliotecas[col] = df_bibliotecas[col].fillna("Desconocido")

In [37]:
df_bibliotecas.dtypes

PK                       int64
NOMBRE                  object
DESCRIPCION-ENTIDAD     object
HORARIO                 object
EQUIPAMIENTO            object
TRANSPORTE              object
DESCRIPCION             object
ACCESIBILIDAD           object
CONTENT-URL             object
NOMBRE-VIA              object
CLASE-VIAL              object
TIPO-NUM                object
NUM                      int64
LOCALIDAD               object
PROVINCIA               object
CODIGO-POSTAL            int64
COD-BARRIO              object
BARRIO                  object
COD-DISTRITO            object
DISTRITO                object
COORDENADA-X             int64
COORDENADA-Y             int64
LATITUD                float64
LONGITUD               float64
TELEFONO                object
FAX                     object
EMAIL                   object
TIPO                    object
dtype: object

In [38]:
df_bibliotecas["ACCESIBILIDAD"].unique()

array(['1', '3', '1,6', '1,5,6', '0,6', '2'], dtype=object)

In [39]:
df_bibliotecas["NUM"].unique()

array([ 51, 189,   2,   5,   9,  43,   4,   7,  16,  36,  10,   1,  23,
        14,  24,  21,  12, 179,  15,  38, 252,   6,  67,  29,  11,  19,
         8,  42,  13], dtype=int64)

In [40]:
df_bibliotecas["ACCESIBILIDAD"] = df_bibliotecas["ACCESIBILIDAD"].str.replace(",", ".", regex=False)
df_bibliotecas["ACCESIBILIDAD"] = pd.to_numeric(df_bibliotecas["ACCESIBILIDAD"], errors="coerce")

In [41]:
df_bibliotecas["NUM"] = pd.to_numeric(df_bibliotecas["NUM"], errors="coerce")

In [42]:
df_bibliotecas[["ACCESIBILIDAD", "NUM"]].dtypes

ACCESIBILIDAD    float64
NUM                int64
dtype: object

In [43]:
df_bibliotecas.duplicated().sum()

0

In [44]:
# Normalizar textos

cols_texto = ["NOMBRE", "DISTRITO", "BARRIO", "CLASE-VIAL", "TIPO", "LOCALIDAD"]

for col in cols_texto:
    df_bibliotecas[col] = df_bibliotecas[col].str.strip().str.lower()

In [45]:
sorted(df_bibliotecas["LOCALIDAD"].dropna().unique())

['madrid']

In [50]:
df_alojamientos.shape

(12993, 14)

In [51]:
df_alojamientos.info

<bound method DataFrame.info of           alojamiento_tipo       categoria            denominacion via_tipo  \
0                    HOTEL         3-HOTEL            GRAN LEGAZPI    PASEO
1                  PENSION       2-PENSION                  ISABEL    CALLE
2                   HOSTAL        2-HOSTAL                  BESAYA    CALLE
3                   HOSTAL        3-HOSTAL              ASTORIA II      CRA
4                   HOSTAL        3-HOSTAL                ALHAMBRA    CALLE
...                    ...             ...                     ...      ...
12988       CASA HUESPEDES  CASA HUESPEDES  PARADISE SUITES MADRID     CTRA
12989  VIVIENDAS DE USO TU   SIN CATEGORIA                     NaN    CALLE
12990  VIVIENDAS DE USO TU   SIN CATEGORIA                     NaN    CALLE
12991  VIVIENDAS DE USO TU   SIN CATEGORIA                     NaN    CALLE
12992  VIVIENDAS DE USO TU   SIN CATEGORIA                     NaN    CALLE

            via_nombre numero bloque portal escalera planta puerta cdpostal  \
0        de la Chopera     71    NaN    NaN      NaN    NaN    NaN    28045
1          de la Salud     13    NaN    NaN      NaN     3ª    NaN    28013
2      de San Bernardo     13    NaN    NaN      NaN     8ª    NaN    28015
3      de San Jerónimo     32    NaN    NaN      NaN     4º      D    28014
4      de Espoz y Mina      6    NaN    NaN      NaN      2      2    28012
...                ...    ...    ...    ...      ...    ...    ...      ...
12988         CANILLAS     15    NaN    NaN      NaN    NaN    NaN    28043
12989    Floridablanca     44    NaN    NaN      NaN      3    NaN    28200
12990   Carmen Calzado     11    NaN    NaN      NaN   Bajo      A    28806
12991   Carmen Calzado     11    NaN    NaN        1      1      A    28801
12992          Henares      1    NaN      5        9      1      A    28816

                        localidad signatura
0                          Madrid    HM-127
1                          Madrid    HM-132
2                          Madrid    HM-139
3                          Madrid    HM-142
4                          Madrid    HM-143
...                           ...       ...
12988                      Madrid   HM-5090
12989  San Lorenzo de El Escorial  VT-14745
12990           Alcalá de Henares  VT-14788
12991           Alcalá de Henares  VT-14789
12992       Camarma de Esteruelas  VT-14991

[12993 rows x 14 columns]>

In [52]:
df_alojamientos.head()

,alojamiento_tipo,categoria,denominacion,via_tipo,via_nombre,numero,bloque,portal,escalera,planta,puerta,cdpostal,localidad,signatura
0,HOTEL,3-HOTEL,GRAN LEGAZPI,PASEO,de la Chopera,71,NaN,NaN,NaN,NaN,NaN,28045,Madrid,HM-127
1,PENSION,2-PENSION,ISABEL,CALLE,de la Salud,13,NaN,NaN,NaN,3ª,NaN,28013,Madrid,HM-132
2,HOSTAL,2-HOSTAL,BESAYA,CALLE,de San Bernardo,13,NaN,NaN,NaN,8ª,NaN,28015,Madrid,HM-139
3,HOSTAL,3-HOSTAL,ASTORIA II,CRA,de San Jerónimo,32,NaN,NaN,NaN,4º,D,28014,Madrid,HM-142
4,HOSTAL,3-HOSTAL,ALHAMBRA,CALLE,de Espoz y Mina,6,NaN,NaN,NaN,2,2,28012,Madrid,HM-143

In [53]:
df_alojamientos.dtypes

alojamiento_tipo    object
categoria           object
denominacion        object
via_tipo            object
via_nombre          object
numero              object
bloque              object
portal              object
escalera            object
planta              object
puerta              object
cdpostal            object
localidad           object
signatura           object
dtype: object

In [55]:
df_alojamientos.info()
df_alojamientos.shape
df_alojamientos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12993 entries, 0 to 12992
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   alojamiento_tipo  12993 non-null  object
 1   categoria         12993 non-null  object
 2   denominacion      10704 non-null  object
 3   via_tipo          12992 non-null  object
 4   via_nombre        12975 non-null  object
 5   numero            12977 non-null  object
 6   bloque            188 non-null    object
 7   portal            481 non-null    object
 8   escalera          1307 non-null   object
 9   planta            10906 non-null  object
 10  puerta            10113 non-null  object
 11  cdpostal          12127 non-null  object
 12  localidad         12993 non-null  object
 13  signatura         12993 non-null  object
dtypes: object(14)
memory usage: 1.4+ MB

,alojamiento_tipo,categoria,denominacion,via_tipo,via_nombre,numero,bloque,portal,escalera,planta,puerta,cdpostal,localidad,signatura
0,HOTEL,3-HOTEL,GRAN LEGAZPI,PASEO,de la Chopera,71,NaN,NaN,NaN,NaN,NaN,28045,Madrid,HM-127
1,PENSION,2-PENSION,ISABEL,CALLE,de la Salud,13,NaN,NaN,NaN,3ª,NaN,28013,Madrid,HM-132
2,HOSTAL,2-HOSTAL,BESAYA,CALLE,de San Bernardo,13,NaN,NaN,NaN,8ª,NaN,28015,Madrid,HM-139
3,HOSTAL,3-HOSTAL,ASTORIA II,CRA,de San Jerónimo,32,NaN,NaN,NaN,4º,D,28014,Madrid,HM-142
4,HOSTAL,3-HOSTAL,ALHAMBRA,CALLE,de Espoz y Mina,6,NaN,NaN,NaN,2,2,28012,Madrid,HM-143

In [56]:
df_alojamientos["cdpostal"] = pd.to_numeric(df_alojamientos["cdpostal"], errors="coerce")

In [57]:
df_alojamientos["planta"] = df_alojamientos["planta"].str.replace("°|ª", "", regex=True)

In [58]:
df_alojamientos.duplicated().sum()

0

In [59]:
df_alojamientos.nunique()

alojamiento_tipo       12
categoria              29
denominacion        10322
via_tipo               29
via_nombre           3019
numero                393
bloque                 13
portal                 73
escalera               93
planta                283
puerta                858
cdpostal              275
localidad             167
signatura           12993
dtype: int64

In [61]:
for col in ["alojamiento_tipo", "categoria", "via_tipo", "localidad"]:
    print(f"{col}:")
    print(df_alojamientos[col].unique())
    print()

alojamiento_tipo:
['HOTEL' 'PENSION' 'HOSTAL' 'CASA HUESPEDES' 'HOTEL-APART.'
 'APARTAMENTO RURAL' 'HOTEL RURAL' 'CASA RURAL' 'APART-TURISTICO'
 'HOSTERIAS' 'VIVIENDAS DE USO TU' 'CAMPING']

categoria:
['3-HOTEL' '2-PENSION' '2-HOSTAL' '3-HOSTAL' 'CASA HUESPEDES' '1-PENSION'
 '3-PENSION' '1-HOSTAL' '4-HOTEL' '5-HOTEL' '2-HOTEL' '5 estrellas L'
 '1-HOTEL' '4-HOTEL-APART.' '1-HOTEL-APART.' '2-HOTEL-APART.'
 '3-HOTEL-APART.' 'APARTAMENTO RURAL' '1-HOJA DE ROBLE' '3-HOJA DE ROBLE'
 'CASA RURAL' '2-HOJA DE ROBLE' '3-APART-TURISTICO' '2-APART-TURISTICO'
 '1-APART-TURISTICO' '4-APART-TURISTICO' 'SIN CATEGORIA' '1-CAMPING'
 '2-CAMPING']

via_tipo:
['PASEO' 'CALLE' 'CRA' 'PLAZA' 'CUSTA' 'AVDA' 'CTRA' 'AVIA' 'BULEV'
 'CSTAN' 'GTA' 'TRVA' 'COL' 'CMNO' 'RONDA' 'FINCA' 'PRAJE' 'CLLJA' 'PSAJE'
 'CLLON' 'URB' 'PZO' 'BARRO' 'SECT' 'DISEM' 'RTDA' 'POLIG' 'LUGAR' nan
 'EXTRR']

localidad:
['Madrid' 'Cabrera, La' 'Aranjuez' 'Somosierra' 'Torrelodones'
 'San Lorenzo de El Escorial' 'Cercedilla' 'Navacerrada' 'Getafe'
 'Escorial, El' 'Manzanares el Real' 'Guadarrama' 'Navalcarnero'
 'Alcobendas' 'Fuenlabrada' 'Buitrago del Lozoya' 'Villaviciosa de Odón'
 'Arganda del Rey' 'Móstoles' 'Collado Villalba' 'Alcalá de Henares'
 'Villarejo de Salvanés' 'San Sebastián de los Reyes' 'Rascafría'
 'San Martín de Valdeiglesias' 'Leganés' 'Colmenarejo'
 'Santa María de la Alameda' 'Torrejón de Ardoz' 'Paracuellos de Jarama'
 'San Fernando de Henares' 'Alcorcón' 'Coslada' 'Mejorada del Campo'
 'Pinto' 'Fresnedillas de la Oliva' 'Boadilla del Monte'
 'Horcajo de la Sierra-Aoslos' 'Cadalso de los Vidrios' 'Villa del Prado'
 'Colmenar Viejo' 'Bustarviejo' 'Valdemoro' 'Montejo de la Sierra'
 'Villavieja del Lozoya' 'Villanueva del Pardillo' 'Valdemorillo'
 'Villanueva de la Cañada' 'Navas del Rey' 'Algete' 'Pelayos de la Presa'
 'San Agustín del Guadalix' 'Soto del Real' 'Miraflores de la Sierra'
 'Molinos, Los' 'Alpedrete' 'Torres de la Alameda' 'Tres Cantos'
 'Casarrubuelos' 'Velilla de San Antonio' 'Humanes de Madrid' 'Canencia'
 'Guadalix de la Sierra' 'Majadahonda' 'Ciempozuelos' 'Chinchón'
 'Daganzo de Arriba' 'Molar, El' 'Villalbilla' 'Cervera de Buitrago'
 'Patones' 'Moralzarzal' 'Zarzalejo' 'Moraleja de Enmedio' 'Valdilecha'
 'Cobeña' 'Galapagar' 'Colmenar de Oreja' 'Sevilla la Nueva'
 'Fuente el Saz de Jarama' 'Puentes Viejas' 'San Martín de la Vega'
 'Brunete' 'Navalafuente' 'Rivas-Vaciamadrid' 'Pozuelo del Rey'
 'Rozas de Madrid, Las' 'Serna del Monte, La' 'Parla' 'Brea de Tajo'
 'Griñón' 'Acebeda, La' 'Piñuécar-Gandullas' 'Fuentidueña de Tajo'
 'Ajalvir' 'Collado Mediano' 'Morata de Tajuña' 'Campo Real'
 'Lozoyuela-Navas-Sieteiglesias' 'Loeches' 'Estremera'
 'Robledo de Chavela' 'Tielmes' 'Pozuelo de Alarcón' 'Torrejón de Velasco'
 'Camarma de Esteruelas' 'Meco' 'Valdemanco' 'Arroyomolinos'
 'Colmenar del Arroyo' 'Villamanta'
 'Gargantilla del Lozoya y Pinilla de Buitrago' 'Cenicientos'
 'Navarredonda y San Mamés' 'Torrelaguna' 'Santos de la Humosa, Los'
 'Alameda del Valle' 'Ribatejada' 'Aldea del Fresno' 'Atazar, El'
 'Carabaña' 'Valdelaguna' 'Boalo, El' 'Madarcos' 'Gascones' 'Berrueco, El'
 'Braojos' 'Hiruela, La' 'Belmonte de Tajo' 'Titulcia' 'Santorcaz'
 'Navalagamella' 'Robledillo de la Jara' 'Puebla de la Sierra'
 'Villar del Olmo' 'Rozas de Puerto Real' 'Olmeda de las Fuentes'
 'Prádena del Rincón' 'Berzosa del Lozoya' 'Hoyo de Manzanares'
 'Valdemaqueda' 'Chapinería' 'Lozoya' 'Torremocha de Jarama'
 'Villamanrique de Tajo' 'Vellón, El' 'Valdaracete'
 'Garganta de los Montes' 'Perales de Tajuña' 'Robregordo' 'Valdeavero'
 'Horcajuelo de la Sierra' 'Cabanillas de la Sierra' 'Venturada'
 'Nuevo Baztán' 'Becerril de la Sierra' 'Pedrezuela' 'Álamo, El' 'Ambite'
 'Batres' 'Pinilla del Valle' 'Valdepiélagos' 'Valdetorres de Jarama'
 'Valdeolmos-Alalpardo' 'Pezuela de las Torres' 'Talamanca de Jarama'
 'Orusco de Tajuña']

In [62]:
df_alojamientos["categoria"] = df_alojamientos["categoria"].str.upper().str.strip()

In [63]:
df_alojamientos['via_tipo'] = df_alojamientos['via_tipo'].str.lower().str.strip()

In [65]:
df_alojamientos['localidad'] = df_alojamientos['localidad'].str.title().str.strip()

In [66]:
for col in ["alojamiento_tipo", "categoria", "via_tipo", "localidad"]:
    print(f"{col}:")
    print(df_alojamientos[col].unique())
    print()

alojamiento_tipo:
['HOTEL' 'PENSION' 'HOSTAL' 'CASA HUESPEDES' 'HOTEL-APART.'
 'APARTAMENTO RURAL' 'HOTEL RURAL' 'CASA RURAL' 'APART-TURISTICO'
 'HOSTERIAS' 'VIVIENDAS DE USO TU' 'CAMPING']

categoria:
['3-HOTEL' '2-PENSION' '2-HOSTAL' '3-HOSTAL' 'CASA HUESPEDES' '1-PENSION'
 '3-PENSION' '1-HOSTAL' '4-HOTEL' '5-HOTEL' '2-HOTEL' '5 ESTRELLAS L'
 '1-HOTEL' '4-HOTEL-APART.' '1-HOTEL-APART.' '2-HOTEL-APART.'
 '3-HOTEL-APART.' 'APARTAMENTO RURAL' '1-HOJA DE ROBLE' '3-HOJA DE ROBLE'
 'CASA RURAL' '2-HOJA DE ROBLE' '3-APART-TURISTICO' '2-APART-TURISTICO'
 '1-APART-TURISTICO' '4-APART-TURISTICO' 'SIN CATEGORIA' '1-CAMPING'
 '2-CAMPING']

via_tipo:
['paseo' 'calle' 'cra' 'plaza' 'custa' 'avda' 'ctra' 'avia' 'bulev'
 'cstan' 'gta' 'trva' 'col' 'cmno' 'ronda' 'finca' 'praje' 'cllja' 'psaje'
 'cllon' 'urb' 'pzo' 'barro' 'sect' 'disem' 'rtda' 'polig' 'lugar' nan
 'extrr']

localidad:
['Madrid' 'Cabrera, La' 'Aranjuez' 'Somosierra' 'Torrelodones'
 'San Lorenzo De El Escorial' 'Cercedilla' 'Navacerrada' 'Getafe'
 'Escorial, El' 'Manzanares El Real' 'Guadarrama' 'Navalcarnero'
 'Alcobendas' 'Fuenlabrada' 'Buitrago Del Lozoya' 'Villaviciosa De Odón'
 'Arganda Del Rey' 'Móstoles' 'Collado Villalba' 'Alcalá De Henares'
 'Villarejo De Salvanés' 'San Sebastián De Los Reyes' 'Rascafría'
 'San Martín De Valdeiglesias' 'Leganés' 'Colmenarejo'
 'Santa María De La Alameda' 'Torrejón De Ardoz' 'Paracuellos De Jarama'
 'San Fernando De Henares' 'Alcorcón' 'Coslada' 'Mejorada Del Campo'
 'Pinto' 'Fresnedillas De La Oliva' 'Boadilla Del Monte'
 'Horcajo De La Sierra-Aoslos' 'Cadalso De Los Vidrios' 'Villa Del Prado'
 'Colmenar Viejo' 'Bustarviejo' 'Valdemoro' 'Montejo De La Sierra'
 'Villavieja Del Lozoya' 'Villanueva Del Pardillo' 'Valdemorillo'
 'Villanueva De La Cañada' 'Navas Del Rey' 'Algete' 'Pelayos De La Presa'
 'San Agustín Del Guadalix' 'Soto Del Real' 'Miraflores De La Sierra'
 'Molinos, Los' 'Alpedrete' 'Torres De La Alameda' 'Tres Cantos'
 'Casarrubuelos' 'Velilla De San Antonio' 'Humanes De Madrid' 'Canencia'
 'Guadalix De La Sierra' 'Majadahonda' 'Ciempozuelos' 'Chinchón'
 'Daganzo De Arriba' 'Molar, El' 'Villalbilla' 'Cervera De Buitrago'
 'Patones' 'Moralzarzal' 'Zarzalejo' 'Moraleja De Enmedio' 'Valdilecha'
 'Cobeña' 'Galapagar' 'Colmenar De Oreja' 'Sevilla La Nueva'
 'Fuente El Saz De Jarama' 'Puentes Viejas' 'San Martín De La Vega'
 'Brunete' 'Navalafuente' 'Rivas-Vaciamadrid' 'Pozuelo Del Rey'
 'Rozas De Madrid, Las' 'Serna Del Monte, La' 'Parla' 'Brea De Tajo'
 'Griñón' 'Acebeda, La' 'Piñuécar-Gandullas' 'Fuentidueña De Tajo'
 'Ajalvir' 'Collado Mediano' 'Morata De Tajuña' 'Campo Real'
 'Lozoyuela-Navas-Sieteiglesias' 'Loeches' 'Estremera'
 'Robledo De Chavela' 'Tielmes' 'Pozuelo De Alarcón' 'Torrejón De Velasco'
 'Camarma De Esteruelas' 'Meco' 'Valdemanco' 'Arroyomolinos'
 'Colmenar Del Arroyo' 'Villamanta'
 'Gargantilla Del Lozoya Y Pinilla De Buitrago' 'Cenicientos'
 'Navarredonda Y San Mamés' 'Torrelaguna' 'Santos De La Humosa, Los'
 'Alameda Del Valle' 'Ribatejada' 'Aldea Del Fresno' 'Atazar, El'
 'Carabaña' 'Valdelaguna' 'Boalo, El' 'Madarcos' 'Gascones' 'Berrueco, El'
 'Braojos' 'Hiruela, La' 'Belmonte De Tajo' 'Titulcia' 'Santorcaz'
 'Navalagamella' 'Robledillo De La Jara' 'Puebla De La Sierra'
 'Villar Del Olmo' 'Rozas De Puerto Real' 'Olmeda De Las Fuentes'
 'Prádena Del Rincón' 'Berzosa Del Lozoya' 'Hoyo De Manzanares'
 'Valdemaqueda' 'Chapinería' 'Lozoya' 'Torremocha De Jarama'
 'Villamanrique De Tajo' 'Vellón, El' 'Valdaracete'
 'Garganta De Los Montes' 'Perales De Tajuña' 'Robregordo' 'Valdeavero'
 'Horcajuelo De La Sierra' 'Cabanillas De La Sierra' 'Venturada'
 'Nuevo Baztán' 'Becerril De La Sierra' 'Pedrezuela' 'Álamo, El' 'Ambite'
 'Batres' 'Pinilla Del Valle' 'Valdepiélagos' 'Valdetorres De Jarama'
 'Valdeolmos-Alalpardo' 'Pezuela De Las Torres' 'Talamanca De Jarama'
 'Orusco De Tajuña']

In [68]:
df_alojamientos["cdpostal"].unique()

array([28045., 28013., 28015., 28014., 28012., 28004., 28010., 28046.,
       28006., 28001., 28008.,    nan, 28005., 28003., 28020., 28009.,
       28751., 28300., 28756., 28250., 28200., 28470., 28491., 28906.,
       28039., 28042., 28280., 28047., 28410., 28480., 28017., 28600.,
       28034., 28100., 28944., 28730., 28670., 28500., 28931., 28400.,
       28108., 28801., 28590., 28440., 28701., 28007., 28036., 28807.,
       28035., 28740., 28680., 28026., 28912., 28911., 28270., 28296.,
       28850., 28025., 28860., 28805., 28802., 28830., 28921., 28821.,
       28840., 28320., 28214., 28660., 28755., 28640., 28630., 28770.,
       28720., 28341., 28901., 28190., 28739., 28803., 28229., 28210.,
       28691., 28695., 28110., 28696., 28750., 28791., 28792., 28916.,
       28040., 28460., 28430., 28813., 28760., 28342., 28977., 28891.,
       28970., 28743., 28027., 28794., 28031., 28220., 28350., 28370.,
       28043., 28814., 28710., 28703., 28810., 28053., 28193., 28904.,
       28823., 28028., 28934., 28189., 28941., 28411., 28293., 28950.,
       28511., 28863., 28260., 28380., 28609., 28140., 28754., 28033.,
       28330., 28907., 28690., 28946., 28037., 28729., 28522., 28044.,
       28749., 28290., 28737., 28002., 28983., 28702., 28596., 28232.,
       28022., 28971., 28922., 28806., 28016., 28804., 28597., 28943.,
       28864., 28450., 28050., 28530., 28510., 28119., 28032., 28752.,
       28982., 28023., 28890., 28595., 28294., 28550., 28029., 28223.,
       28990., 28816., 28051., 28021., 28914., 28011., 28880., 28343.,
       28939., 28213., 28610., 28195., 28650., 28180., 28817., 28815.,
       28196., 28620., 28560., 28391., 28479., 28753., 28707., 28492.,
       28192., 28191., 28390., 28359., 28818., 28212., 28194., 28512.,
       28649., 28515., 28240., 28295., 28694., 28742., 28598., 28722.,
       28594., 28540., 28231., 28297., 28019., 28224., 28412., 28721.,
       28041., 28018., 28038., 28902., 28514., 28439., 28109., 28024.,
       28490., 28030., 28723., 28055., 28221., 28648., 28222., 28049.,
       28607., 28669., 28521., 28924., 28935., 28580., 28976., 28925.,
       28981., 28937., 28420., 28909., 28932., 28292., 28793., 28822.,
       28120., 28923., 28903., 28170., 28150., 28054., 28130., 28413.,
       28812., 28700., 28861., 28230., 28080., 28972., 28160., 28933.,
       28936., 28523., 28851., 28980., 28219., 28181., 28945., 28927.,
       28913., 28570., 29640., 28248.])

In [69]:
df_alojamientos['numero'].unique()

array(['71', '13', '32', '6', '15', '38', '12', '10', '7', '2', '56',
       '67', '14', '31', '4', '19', '44', '1', '17', '33', '50', '5',
       '29', '11', '41', '18', '49', '26', '3', '53', '152', '9', '8',
       '24', '111', '62', '79', '28', '94', '34', '23', '80', '40', '112',
       '81', '64', '253', '63', '27', '92,500', '20', '14,200', '157',
       '78', '21', '55', '104', '154', '61', '16', '46', '117', '102',
       '36', '39', '82', '35', '177', '145', '95', '75', '115', '54',
       '37', '51', '30', '90', '25', '25,600', '43', '22', '25,00', '105',
       '76', '133', '12,700', '131', '4 Y 6', '168', '45', '47', '68',
       '42', '34-36', '4-6', '173', '60', '98', '139', '87,8', '36,800',
       '91', '57', 'S/N', '96', '16,200', '110', '92', '7,300', '73',
       '331', '167', '3,500', '304', '65', '128', '220', '52,5', '69',
       '20,60', '476', '191', '143', '0,15', '5,500', '48', '83',
       '81,400', '611', '77', '62,500', '400', '1,375', '0,200', '66',
       '402', '20,700', '364', '259', '4-5', '332', '68,000', '59',
       '1,800', '2400', '8-10', '52-54', '28,2', nan, '180', '366', '58',
       '113', '52', '147', '10-12', '87', '35,600', '151', '16A', '1,5',
       '4.500', '163', '9,200', '262', '7,700', '7,800', '10,200',
       '51,500', '50,500', '1-3-5', '1233', '14-16', '30,500', '236',
       '127', '288', '19,200', '1,600', '1232', '120', '109', '1,000',
       'SN', '31-23', '295', '21-23', '84', '74', '101', '2 - 4', '15-17',
       '46,800', '3,600', '0,700', '22,2', '2,500', '15,500', '19,500',
       '7,100', '165', '97', '19-21', '149', '158', '99', '184', '72',
       '160', '70', '203', '125', '156', '176', '100', '135', '134',
       '140', '88', '122', '89', '118', '171', '114', '293', 's/n', '93',
       '3-5', '86', '3 dupl', '136', '123', '124', '166', '257', '106',
       '126', '141', '7/9', '121', '103', '132', '107', '85', '200',
       '155', '148', '205', '138', '116', '380', '218', '7-9', '8 DUP',
       '9 BIS', '178', '196', '146', '181', '3 DUPL', '53-55', '4 BIS',
       '153', '130', '362', '119', '243', '875', '28 BIS', '3 D', '336',
       '13 BIS', '19 BIS', '185', '164', '108', '469', '385', '2-4',
       '255', '479', '214', '258', '342', '434', '201', '8 BIS', '345',
       '296', '300', '144', '194', '280', '169', '129', '13-11', '204',
       '192', '150', '874', '202', '2B', '32-36', '816', '172', '1-9',
       '02', '9-10', '5B', '333', '190', '16 D', '22,5', '31-33', '1 D',
       'KM9', '270', '69-72', '18700', '142', '137', '7,8', '162', '1 A',
       '06', '349', '770', '764', '389', '5D', '58 BIS', '67A', '177B',
       '206', '9 Y 11', '251', '7,5', '489', '215', '247', '10 B', '988',
       '238', '920', '224', '217 I', '7 BIS', '252', '378', '246', '175',
       '222', '240', '10-11', '12,500', '1-3', '39-41', '269', '6 - 9',
       '305', 'sn', '94-B', '423', '13B', 'II', '225', '94B', '118-12',
       '9,500', '66b', '40FR', '7 Y 9', '5 Y 7', '28-30', '38D', '461',
       '43A', '686', '183', '230', '94b', '11B', '4B', '997B', '241',
       '18-D', '268', '2A', '8A', '91-101', '7B', '3-5-7', 'Km 4,1',
       '297'], dtype=object)

In [70]:
df_alojamientos["numero"] = df_alojamientos["numero"].str.upper().str.strip()

In [71]:
df_alojamientos["numero"] = df_alojamientos["numero"].replace({
    "S/Nº": "S/N",
    "S/N.": "S/N",
    "S N": "S/N",
    "S. N.": "S/N",
    "SN": "S/N"
})

In [72]:
# Intentar convertir a número (se guarda como auxiliar)
df_alojamientos["numero_num"] = pd.to_numeric(df_alojamientos["numero"], errors='coerce')

# Valores que no se pudieron convertir
no_numericos = df_alojamientos[df_alojamientos["numero_num"].isna()]["numero"].unique()
print(no_numericos)

['92,500' '14,200' '25,600' '25,00' '12,700' '4 Y 6' '34-36' '4-6' '87,8'
 '36,800' 'S/N' '16,200' '7,300' '3,500' '52,5' '20,60' '0,15' '5,500'
 '81,400' '62,500' '1,375' '0,200' '20,700' '4-5' '68,000' '1,800' '8-10'
 '52-54' '28,2' nan '10-12' '35,600' '16A' '1,5' '9,200' '7,700' '7,800'
 '10,200' '51,500' '50,500' '1-3-5' '14-16' '30,500' '19,200' '1,600'
 '1,000' '31-23' '21-23' '2 - 4' '15-17' '46,800' '3,600' '0,700' '22,2'
 '2,500' '15,500' '19,500' '7,100' '19-21' '3-5' '3 DUPL' '7/9' '7-9'
 '8 DUP' '9 BIS' '53-55' '4 BIS' '28 BIS' '3 D' '13 BIS' '19 BIS' '2-4'
 '8 BIS' '13-11' '2B' '32-36' '1-9' '9-10' '5B' '16 D' '22,5' '31-33'
 '1 D' 'KM9' '69-72' '7,8' '1 A' '5D' '58 BIS' '67A' '177B' '9 Y 11' '7,5'
 '10 B' '217 I' '7 BIS' '10-11' '12,500' '1-3' '39-41' '6 - 9' '94-B'
 '13B' 'II' '94B' '118-12' '9,500' '66B' '40FR' '7 Y 9' '5 Y 7' '28-30'
 '38D' '43A' '11B' '4B' '997B' '18-D' '2A' '8A' '91-101' '7B' '3-5-7'
 'KM 4,1']

In [73]:
df_alojamientos.loc[~df_alojamientos["numero"].isin(no_numericos) | (df_alojamientos["numero"] == "S/N")]

,alojamiento_tipo,categoria,denominacion,via_tipo,via_nombre,numero,bloque,portal,escalera,planta,puerta,cdpostal,localidad,signatura,numero_num
0,HOTEL,3-HOTEL,GRAN LEGAZPI,paseo,de la Chopera,71,NaN,NaN,NaN,NaN,NaN,28045.0,Madrid,HM-127,71.0
1,PENSION,2-PENSION,ISABEL,calle,de la Salud,13,NaN,NaN,NaN,3,NaN,28013.0,Madrid,HM-132,13.0
2,HOSTAL,2-HOSTAL,BESAYA,calle,de San Bernardo,13,NaN,NaN,NaN,8,NaN,28015.0,Madrid,HM-139,13.0
3,HOSTAL,3-HOSTAL,ASTORIA II,cra,de San Jerónimo,32,NaN,NaN,NaN,4º,D,28014.0,Madrid,HM-142,32.0
4,HOSTAL,3-HOSTAL,ALHAMBRA,calle,de Espoz y Mina,6,NaN,NaN,NaN,2,2,28012.0,Madrid,HM-143,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12988,CASA HUESPEDES,CASA HUESPEDES,PARADISE SUITES MADRID,ctra,CANILLAS,15,NaN,NaN,NaN,NaN,NaN,28043.0,Madrid,HM-5090,15.0
12989,VIVIENDAS DE USO TU,SIN CATEGORIA,NaN,calle,Floridablanca,44,NaN,NaN,NaN,3,NaN,28200.0,San Lorenzo De El Escorial,VT-14745,44.0
12990,VIVIENDAS DE USO TU,SIN CATEGORIA,NaN,calle,Carmen Calzado,11,NaN,NaN,NaN,Bajo,A,28806.0,Alcalá De Henares,VT-14788,11.0
12991,VIVIENDAS DE USO TU,SIN CATEGORIA,NaN,calle,Carmen Calzado,11,NaN,NaN,1,1,A,28801.0,Alcalá De Henares,VT-14789,11.0
12992,VIVIENDAS DE USO TU,SIN CATEGORIA,NaN,calle,Henares,1,NaN,5,9,1,A,28816.0,Camarma De Esteruelas,VT-14991,1.0

In [74]:
df_alojamientos.drop(columns="numero_num", inplace=True)

In [88]:
df_alojamientos.to_csv("alojamientos_turisticos_limpio.csv", index=False, encoding="utf-8")

In [76]:
# Cargar el otro Dataset
df_data.shape

(10051, 12)

In [77]:
df_data.isnull().mean().sort_values(ascending=False)

Range                    1.000000
City                     0.031937
State                    0.000298
CrimeId                  0.000000
OriginalCrimeTypeName    0.000000
OffenseDate              0.000000
CallTime                 0.000000
CallDateTime             0.000000
Disposition              0.000000
Address                  0.000000
AgencyId                 0.000000
AddressType              0.000000
dtype: float64

In [80]:
df_data = df_data.drop(columns=["Range"])

In [84]:
df_data["OffenseDate_parsed"] = pd.to_datetime(df_data["OffenseDate"], errors="coerce")

In [85]:
df_data["CallDateTime_parsed"] = pd.to_datetime(df_data["CallDateTime"], errors="coerce")

In [86]:
incoherentes = df_data[
    df_data['OffenseDate_parsed'] > df_data['CallDateTime_parsed']
]

print(len(incoherentes))

1

In [87]:
df_data = df_data[df_data['OffenseDate_parsed'] <= df_data['CallDateTime_parsed']]

In [89]:
df_data.to_csv("data_act_01_limpio.csv", index=False, encoding="utf-8")

In [90]:
import pandas as pd
import json

In [91]:
# 1. Cargar los 3 archivos limpios
df_museos = pd.read_csv("museos_limpio.csv", encoding="utf-8")
df_alojamientos = pd.read_csv("alojamientos_turisticos_limpio.csv", encoding="utf-8")
df_incidentes = pd.read_csv("data_act_01_limpio.csv", encoding="utf-8")

In [92]:
# 2. Convertirlos a listas de registros (uno por fila)
json_unificado = {
    "museos": df_museos.to_dict(orient="records"),
    "alojamientos": df_alojamientos.to_dict(orient="records"),
    "incidentes": df_incidentes.to_dict(orient="records")
}

In [93]:
# 3. Guardar en un solo archivo JSON
with open("RIOS_BENJUMEA_SANTIAGO_actividad_1.json", "w", encoding="utf-8") as f:
    json.dump(json_unificado, f, ensure_ascii=False, indent=2)